@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&family=Rubik:wght@600&family=Smooch+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");

:root {
  --main-border-color: rgb(22, 22, 22);
  --naranjita-color: #ffcb51;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-home {
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.side-bar {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  color: rgb(22, 22, 22);
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  height: 100%;
  z-index: 20000;
  transform: translateX(100%);
  /*transform: translateX(-100%);*/
  opacity: 1;
  transition: all 0.4s ease-in-out;
  transition-delay: 0.3s;
  font-family: "Roboto", sans-serif;
  overflow-y: auto;
}

@media (min-width: 62.5rem) {
  .side-bar {
    width: 20%;
  }
}

.side-bar ul {
  list-style-type: none;
  padding: 3rem 0rem 3rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 2rem;
  position: relative;
  font-family: "Lato", sans-serif;
  width: 100%;
  text-align: center;
}

.side-bar ul li {
  width: 100%;
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0px 0 0px 0;
  cursor: pointer;
  font-weight: bold;
  padding: 0.51rem;
  border-top: 0.5px solid rgba(71, 71, 71, 0.308);
  border-bottom: 0.5px solid rgba(71, 71, 71, 0.308);
  transition: all 0.2s ease-in-out;
}

.side-bar ul li:hover {
  background-color: #ffcb51;
}

.side-bar ul li a {
  text-decoration: none;
  text-align: center;

  color: rgb(22, 22, 22);
}

.side-bar ul li a:hover {
  color: rgb(22, 22, 22);
}

.side-bar.show {
  transform: translate(0);
  box-shadow: 10px 0 100px 2000px #000000a2;
}

.side-bar-btn {
  position: fixed;
  height: 40px;
  width: 3.125rem;
  z-index: 10000;

  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.625rem;
  right: 0.625rem;
  font-size: 30px;
  color: rgb(22, 22, 22);
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
}

.side-bar-btn2 {
  position: fixed;
  height: 40px;
  width: 3.125rem;
  z-index: 10000;

  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.625rem;
  left: 0.625rem;
  font-size: 30px;
  color: rgb(22, 22, 22);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.logout-btn {
  font-size: 30px;
  border: none;
  background-color: transparent;
}

.display {
  background: rgb(18, 38, 54);
  background: linear-gradient(
    180deg,
    rgba(18, 38, 54, 1) 9%,
    rgba(47, 59, 71, 1) 55%,
    rgba(74, 86, 94, 1) 74%,
    rgba(107, 121, 124, 1) 98%
  );
  padding-bottom: 135%;
  overflow-x: hidden;
}

.display-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem;
  margin: 0;
  padding: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 0.5rem;
  width: 100%;
}

@media (min-width: 95rem) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 90rem) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 87.5rem) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 62.5rem) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 26.25rem) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .item-body {
    font-size: 0.4rem;
  }

  .item h3 {
    font-size: 0.6rem;
  }
}

.item {
  height: 5rem;
  width: 100%;
  padding: 0.5rem;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
  border-radius: 0.4rem;
  position: relative;
}

.item:hover {
  background-color: #fad997;
}

.item h3 {
  width: 20%;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  word-break: break-all;
  hyphens: auto;
  padding: 0.3rem;
}

.item-features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 95%;
  border-left: 2px solid #fdbf6e;
  padding: 0.3rem;
}
.item-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 90%;
  margin: 0;
  justify-items: center;
  align-items: center;
  font-size: 0.8rem;
}

.item-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5px;
  margin: 2.5px;
}

.item-btns button {
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: rgb(126, 126, 126);
}

.item-btns .edit:hover {
  color: black;
}

.item-btns .delete:hover {
  color: rgb(255, 89, 11);
}

.display-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 93vh;
  background: rgb(18, 38, 54);
  background: linear-gradient(
    180deg,
    rgba(18, 38, 54, 1) 9%,
    rgba(47, 59, 71, 1) 55%,
    rgba(74, 86, 94, 1) 74%,
    rgba(107, 121, 124, 1) 98%
  );
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 3px 4px 0px 0px #b6b6b6;
  background-color: white;
  border: 1px solid rgba(139, 139, 139, 0.5);
  margin-bottom: 2.8rem;
  position: relative;
}

.form-container h2 {
  border-bottom: 0.5px solid var(--naranjita-color);
  padding: 15px;
  font-family: "Roboto Mono", monospace;
}

.form-container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;

  margin: 5px;
  width: 100%;
}

.form-container form input {
  margin: 0.5rem;
  border: 0.025rem solid rgba(0, 0, 0, 0.548);
  padding: 5px;
  width: 100%;
}

.form-container form select {
  width: 100%;
  margin: 0.5rem;
}

.form-container form label {
  width: 100%;
}

.form-container form button {
  width: 100%;
  margin-top: 0.6rem;
  background-color: var(--naranjita-color);
  border: 1px solid rgb(19, 19, 19);
}

.form-container form button:hover {
  background-color: #ffd46f;
}

.form-container form label {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  color: #414653a6;
}

.add-button {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.24);
  border: none;
  padding: 8px;
  background-color: white;
}

.add-button:hover {
  background-color: var(--naranjita-color);
  border: 2px solid rgb(22, 22, 22);
}

.display-delete {
  background: rgb(18, 38, 54);
  background: linear-gradient(
    180deg,
    rgba(18, 38, 54, 1) 9%,
    rgba(47, 59, 71, 1) 55%,
    rgba(74, 86, 94, 1) 74%,
    rgba(107, 121, 124, 1) 98%
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.display-delete h1 {
  font-weight: 70px;
  color: aliceblue;
}

.display-delete button {
  padding: 10px;
  margin: 5px;
  border: none;
}

.display-delete button:hover {
  background-color: var(--naranjita-color);
}

.display-delete button:active {
  transform: scale(0.98);
}

.container-btns {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 65px;
  z-index: 200;
}

.container-btns button {
  margin: 0.5rem 0 0 0.5rem;

  border: none;
  font-size: 1.7rem;
  background-color: #fdfdfd;
  color: #1a2336;
  display: flex;
  box-shadow: 3px 4px 0px 0px #cfcfcf;
  transition: all 0.2s ease-in-out;
}

.container-btns button:hover {
  background-color: #ffcb51;
  transform: scale(1.1);
}

.container-btns .tooltip-container-one {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  left: 3.125rem;
  top: 0.625rem;
  color: white;
  width: 9.375rem;
  text-align: center;
  opacity: 0;
  border-radius: 0.4rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  z-index: -1;
}

.container-btns-one .tooltip-container-one {
  transition: all 0.1s ease-in-out;
}
.container-btns .container-btns-one:hover .tooltip-container-one {
  opacity: 1;
}

.container-btns .tooltip-container-two {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  left: 3.125rem;
  top: 2.9375rem;
  color: white;
  width: 9.375rem;
  text-align: center;
  opacity: 0;
  border-radius: 0.4rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  z-index: -1;
}
.container-btns-two .tooltip-container-two {
  transition: all 0.1s ease-in;
}
.container-btns .container-btns-two:hover .tooltip-container-two {
  opacity: 1;
}

.container-btns .tooltip-container-three {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  left: 3.125rem;
  top: 5.3125rem;
  color: white;
  width: 9.375rem;
  text-align: center;
  opacity: 0;
  border-radius: 0.4rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.container-btns-three .tooltip-container-three {
  transition: all 0.1s ease-in-out;
}

.container-btns .container-btns-three:hover .tooltip-container-three {
  opacity: 1;
}

.container-btns .tooltip-container-four {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  left: 3.125rem;
  top: 7.8rem;
  color: white;
  width: 9.375rem;
  text-align: center;
  opacity: 0;
  border-radius: 0.4rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.container-btns-four .tooltip-container-four {
  transition: all 0.1s ease-in-out;
}

.container-btns .container-btns-four:hover .tooltip-container-four {
  opacity: 1;
}

.container-btns .tooltip-container-five {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  left: 3.125rem;
  top: 10.2rem;
  color: white;
  width: 9.375rem;
  text-align: center;
  opacity: 0;
  border-radius: 0.4rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.container-btns-five .tooltip-container-five {
  transition: all 0.1s ease-in-out;
}

.container-btns .container-btns-five:hover .tooltip-container-five {
  opacity: 1;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.input {
  display: flex;
  width: 18rem;

  padding: 0.4rem;
}

.search-bar button {
  width: 100%;
  padding: 0.3rem;
  margin: 0.4rem 0 0 0;
  background-color: #f6f6f6;
  font-weight: bold;
  border: none;
}

.search-bar button:hover {
  background-color: #ffcb51;
}

.search-bar button:active {
  transform: scale(0.98);
}

.error {
  text-align: center;
  color: #c05d5d;
}

.display h1 {
  text-align: center;
  padding: 50px 0 20px 0;
  color: aliceblue;
  font-family: "Rubik", sans-serif;
  font-size: 35px;
}

.display h2 {
  color: #ffbc35;
  font-family: "Rubik", sans-serif;
  text-align: center;
}

/*Loader*/

@keyframes ldio-2yfppezp9nj {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-2yfppezp9nj div {
  box-sizing: border-box !important;
}
.ldio-2yfppezp9nj > div {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 16px solid #000;
  border-color: #e5e7ea transparent #e5e7ea transparent;
  animation: ldio-2yfppezp9nj 1s linear infinite;
}

.ldio-2yfppezp9nj > div:nth-child(2),
.ldio-2yfppezp9nj > div:nth-child(4) {
  width: 108px;
  height: 108px;
  top: 46px;
  left: 46px;
  animation: ldio-2yfppezp9nj 1s linear infinite reverse;
}
.ldio-2yfppezp9nj > div:nth-child(2) {
  border-color: transparent #ffcd5b transparent #ffcd5b;
}
.ldio-2yfppezp9nj > div:nth-child(3) {
  border-color: transparent;
}
.ldio-2yfppezp9nj > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-2yfppezp9nj > div:nth-child(3) div:before,
.ldio-2yfppezp9nj > div:nth-child(3) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 48px;
  background: #e5e7ea;
  border-radius: 50%;
  box-shadow: 0 128px 0 0 #e5e7ea;
}
.ldio-2yfppezp9nj > div:nth-child(3) div:after {
  left: -16px;
  top: 48px;
  box-shadow: 128px 0 0 0 #e5e7ea;
}

.ldio-2yfppezp9nj > div:nth-child(4) {
  border-color: transparent;
}
.ldio-2yfppezp9nj > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-2yfppezp9nj > div:nth-child(4) div:before,
.ldio-2yfppezp9nj > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 30px;
  background: #ffcd5b;
  border-radius: 50%;
  box-shadow: 0 92px 0 0 #ffcd5b;
}
.ldio-2yfppezp9nj > div:nth-child(4) div:after {
  left: -16px;
  top: 30px;
  box-shadow: 92px 0 0 0 #ffcd5b;
}
.loadingio-spinner-double-ring-ysf7x280eq {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #11243800;
}
.ldio-2yfppezp9nj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-2yfppezp9nj div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */

/*Loader*/

.Loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-btn {
  position: absolute;
  right: -0.9375rem;
  background-color: transparent;
  border: none;
  color: #979797de;
  font-size: 1.5rem;
  bottom: 1.5625rem;
}

.detail-btn:hover {
  color: #242424;
}

.detail-container {
  border: 2px solid #050505;
  height: 93vh;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(18, 38, 54);
  background: linear-gradient(
    180deg,
    rgba(18, 38, 54, 1) 9%,
    rgba(47, 59, 71, 1) 55%,
    rgba(74, 86, 94, 1) 74%,
    rgba(107, 121, 124, 1) 98%
  );
}

.detail-frame {
  box-shadow: 3px 4px 0px 0px #a3a3a3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 60%;
  width: 90%;
  background-color: white;
  position: relative;
}

.detail-frame h1 {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid rgba(253, 178, 14, 0.719);
  padding: 15px;
  width: 90%;
  text-align: center;
  font-size: 30px;
}

.detail-body {
  padding: 0.1rem;

  width: 100%;
}

.detail-body ul {
  height: 100%;
}

.detail-body ul li {
  list-style: none;
  padding: 5px;
}

.detail-btns {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.detail-btns button {
  margin: 0 0.6rem 0.7rem 0.6rem;
  font-size: 30px;
  padding: 0;
  background-color: transparent;
  border: none;
  color: #242424bb;
}

.detail-btns button.delete:hover {
  color: red;
}

.detail-btns button.edit:hover {
  color: black;
}

.back-btn {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: #f6f6f6;
  border: 1px solid black;
  padding: 0 0.5rem 0.19rem 0.5rem;
  cursor: pointer;
}

.back-btn:hover {
  background-color: #ffbc35;
  transform: scale(0.98);
}

.chart-container {
  height: 90%;
  width: 95%;
  border: 2px dashed white;
  background-color: white;
  box-shadow: 6px 2px 16px 0px rgba(6, 26, 44, 0.48),
    -6px -2px 16px 0px rgba(20, 20, 20, 0.8);
  border-radius: 0.625rem;
  margin: 0.9375rem;
  padding: 20px;
}

.chart-procontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80%;
  margin-top: 50px;
}

@media (min-width: 95rem) {
  .chart-container {
    height: 40%;
    width: 50%;
  }
}

@media (min-width: 62.5rem) {
  .chart-container {
    height: 30%;
    width: 40%;
  }
}

.chatroom {
  height: 92.5vh;
  background: rgb(18, 38, 54);
  background: linear-gradient(
    180deg,
    rgba(18, 38, 54, 1) 9%,
    rgba(47, 59, 71, 1) 55%,
    rgba(74, 86, 94, 1) 74%,
    rgba(107, 121, 124, 1) 98%
  );
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.chat-container {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  border: 5px solid rgba(255, 255, 255, 0.952);
  position: relative;
}

.input-container {
  width: 100%;
  position: absolute;
  height: 10%;
  bottom: 0;
  background-color: #cfcfcf;
}

.input-container form {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100%;
}

input[type="textarea"] {
  width: 95%;
  padding: 0.25rem;
  height: 80%;
  border: none;

  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.input-container button {
  padding: 0.5rem;
  margin: 0.25rem 0.25rem 0.25rem 0;
  background-color: #ffcd5b;
  height: 80%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: none;
}

.input-container button:hover {
  background-color: #e8b641;
}

.chatscreen {
  height: 95%;
  width: 100%;
  /*background: rgb(18, 38, 54);
  background: linear-gradient(
    180deg,
    rgb(17, 25, 31) 9%,
    rgba(47, 59, 71, 1) 55%,
    rgb(55, 71, 82) 74%,
    rgba(107, 121, 124, 1) 98%
  );*/
  background-image: url("./images/wsp.jpg");
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow-y: auto;
  padding-bottom: 3.125rem;
}

.chatbox-container {
  background-color: whitesmoke;
  margin: 0.625rem;
  width: 80%;
  border-top-left-radius: 0.88rem;
  border-bottom-left-radius: 0.88rem;
  border-bottom-right-radius: 0.88rem;
  border-top-right-radius: 0.25rem;
  padding: 0.8rem;
  position: relative;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.chatbox-container h2 {
  color: #323232e4;
  font-family: "Nunito", sans-serif;
}

.chatbox-container small {
  color: #242424a9;
}

.chatbox-container p {
  font-weight: 450;
  word-break: keep-all;
  hyphens: auto;
}

.chatbox-detail {
  width: 0.92rem;
  height: 0.92rem;
  background-color: whitesmoke;
  transform: rotateZ(45deg);
  position: absolute;
  top: 0.18rem;
  right: -0.3125rem;
}

.pagination-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
}

.pagination-btns button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem;
  color: black;
  font-size: 1.25rem;
  background-color: #fad997;
}

.pagination-btns button:hover {
  background-color: #ffcb51;
  transform: scale(0.98);
}
